.registration-form {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.registration-title {
    text-align: center;
    padding-top: 5%;
}
.registration-des {
    text-align: center;
    padding-top: 5%;
}