.settingPassword-form {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(149, 252, 237);
    border-radius: 50px;
}

.settingPassword-card {
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
}
.settingPassword-title {
    text-align: center;
    padding-top: 5%;
}

.settingPassword-des {
    text-align: center;
    padding-top: 5%;
}